* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* navigation bar  */
.navigation {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.logo {
  color: #272727;
  font-size: 44px;
  font-weight: 800;
  padding-bottom: 30px;
  padding-left: 40px;
}
.menu {
  list-style: none;
  display: flex;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  padding-top: 10px;
}
.menu li {
  padding-left: 55px;
}
/* introduction */
.header {
  background-color: rgba(229, 84, 115, 0.1);
  height: 735px;
}
.introduction {
  display: flex;
  justify-content: center;
  margin: 0px 170px 0px 200px;
}
.flower1 {
  padding-left: 130px;
  height: 622px;
}
.intro {
  margin-top: 130px;
  max-width: 700px;
}
.intro p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding: 24px 50px 24px 0px;
}
.intro-title {
  color: #272727;
  font-size: 60px;
  font-weight: 800;
}
.button-style {
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 14px 34px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/* Featured Section  */
.featured {
  text-align: center;
  margin: 100px 160px 100px 160px;
}
.featured h1 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.featured p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 32px 300px 32px 300px;
}
.featured-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.featured-title {
  display: flex;
  justify-content: center;
  color: #272727;
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.featured-flowers {
  height: 360px;
  padding-top: 70px;
}
.featured-title h3 {
  padding-top: 40px;
  padding-left: 110px;
  padding-right: 110px;
}
.box-1 {
  width: 374px;
  height: 430px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  margin-right: 30px;
}

.box-2 {
  width: 374px;
  height: 430px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin-right: 30px;
}
#flower-box2 {
  width: 330px;
  height: 330px;
}
.box-3 {
  width: 374px;
  height: 430px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
/* service section  */
.service {
  display: flex;
  justify-content: center;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 130px 150px 130px 150px;
  text-align: center;
  align-items: center;
}
.service-icon {
  width: 88px;
  height: 88px;
}
.service h3 {
  color: rgba(39, 39, 39, 0.8);
  font-size: 20px;
  font-weight: 600;
  line-height: 35px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 30px;
  text-align: center;
}
/* Hot sale section  */
.sale {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.sale-info {
  text-align: center;
  padding-left: 280px;
}
.sale h1 {
  color: #272727;
  font-size: 34px;
  font-weight: 800;
  padding-top: 200px;
}
.sale p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px 0px 20px 0px;
}
.sale button {
  margin-bottom: 150px;
}
.sale-flower {
  width: 238px;
  height: 320px;
  margin-left: 160px;
  margin-right: 329px;
}
/* instagram section  */
.instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 130px 160px 130px 160px;
}
.instagram h1 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.instagram p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding: 32px 300px 32px 300px;
}
.flowers {
  display: flex;
  justify-content:space-around;
}
.flower-images {
  width: 280px;
  height: 330px;
}

/* subscription section  */
.subscription {
  background-image: url("Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  margin: 100px 150px 100px 150px;
  align-items: center;
  text-align: center;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.subscription h1 {
  color: #272727;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
}
.subscription h5 {
  color: rgba(39, 39, 39, 0.6);
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}
.email-box {
  width: 500px;
  height: 24px;
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 15px 33px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
  margin-bottom: 100px;
}
/* follow section  */
.follow {
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 0px 150px 150px 150px;
  text-align: center;
  align-items: center;
}
.follow h1 {
  color: #272727;
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 40px;
  font-weight: 800;
}
.follow h5 {
  color: #e55473;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: 400;
}
#icon {
  padding-left: 10px;
  padding-right: 10px;
}
#icon2 {
  padding-left: 10px;
}
/* footer section */
footer {
  background: #111010;
  height: 500px;
  text-align: center;
}
.footer-end {
  color: white;
  padding: 170px 450px 128px 450px;
}
.footer-end h1 {
  color: #ffffff;
  font-size: 44px;
  font-weight: 800;
  padding-bottom: 30px;
}
span {
  color: #e55473;
}
.footer-end p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 40px;
  padding-right: 30px;
}
.footer-end h4 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  padding-right: 30px;
}
