* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
.section-size {
  max-width: 1440px;
}
/* introduction */

.header {
  background-color: rgba(229, 84, 115, 0.1);
  width: 1920px;
  height: 850px;
}
.introduction {
  display: flex;
  margin: 0px 240px 0px 240px;
}
.flower1 {
  margin-top: 50px;
  padding-left: 100px;
}
.intro {
  margin-top: 197px;
  max-width: 700px;
}
.intro p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  padding: 32px 90px 32px 0px;
}
.intro-title {
  color: #272727;
  font-size: 80px;
  font-weight: 800;
}
.button-style {
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
/* Featured Section  */
.featured {
  text-align: center;
  margin: 130px 240px 130px 240px;
}
.featured h1 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.featured p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 32px 400px 32px 400px;
}
.featured-box {
  display: flex;
  /* align-items: center; */
  /* margin-left: 10px; */
}
.featured-title {
  display: flex;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
#yellow{
  padding-top: 66px;
}
.featured-flowers{
  padding-top: 110px;
}
.featured-title h3{
  padding-top: 30px;
  padding-left: 140px;
  padding-right: 120px;
}
.box-1 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  margin-right: 30px;
}

.box-2 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  margin-right: 30px;
}
.box-3 {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
}
/* service section  */
.service {
  display: flex;
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 130px 20px 130px 240px;
  text-align: center;
  align-items: center;
}
.service-icon {
  padding-left: 40px;
}
.service h3{
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 50px;
  text-align: center;
}
.service-info {

  /* display: flex; */
  /* text-align: center; */
  /* padding-top: 190px; */
  /* padding-top: 30px;
  padding-left: 140px;
  padding-right: 120px; */
}
/* Hot sale section  */
.sale {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1922px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.sale-info {
  text-align: center;
  padding-left: 395px;
}
.sale h1 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  padding-top: 230px;
}
.sale p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 24px 0px 24px 0px;
}
.sale button {
  margin-bottom: 150px;
}
.sale-flower {
  margin-left: 160px;
  margin-right: 429px;
}
/* instagram section  */
.instagram {
  text-align: center;
  margin: 130px 240px 130px 240px;
}
.instagram h1 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.instagram p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 32px 400px 32px 400px;
}
.flowers {
  display: flex;
  padding-right: 24px;
}
.flower-images {
  width: 342px;
  height: 396px;
  padding-top: 30px;
  padding-right: 24px;
}
/* subscription section  */
.subscription {
  background-image: url("Images/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 130px 240px 130px 240px;
  align-items: center;
  text-align: center;
  width: 1440px;
  height: 449px;
  flex-shrink: 0;
}
.subscription h1 {
  color: #272727;
  padding-top: 122px;
  padding-bottom: 30px;
  font-size: 40px;
  font-weight: 800;
}
.subscription h5 {
  color: rgba(39, 39, 39, 0.6);
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 400;
}
.email-box {
  width: 700px;
  height: 38px;
  border: none;
  border-radius: 8px;
  background: #fff;
  padding: 15px 33px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}

/* footer section */
footer {
  background: #111010;
  width: 1922px;
  height: 449px;
  text-align: center;
}
.footer-end {
  color: white;
  padding: 128px 640px 128px 640px;
}
.footer-end h1 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  padding-bottom: 30px;
}
span {
  color: #e55473;
}
.footer-end p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}
.footer-end h4 {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  padding-right: 30px;
}
